<template>
  <tr>
    <td class="col-sm-8">
      <au-autocomplete 
                  value.bind="data.purchaseRequest.no" 
                  error.bind="error.purchaseRequest.no"
                  loader.bind="purchaseRequestLoader"
                  placeholder="cari purchase request" 
                  query.bind="purchaseRequestFilter"
                  key="no"
                  text="no"
                  read-only.bind="options.readOnly">
        </au-autocomplete>
  </td>
    <td class="col-sm-2">
        <button class="btn btn-danger pull-right" if.bind="!options.readOnly" click.delegate="onremove(item, $event)">-</button>
        <button class="btn btn-info pull-right" click.delegate="">i</button>
    </td>
  </tr>
  <tr>
        <td colspan="4">
            <au-collection
              items.bind="data.items"
              columns.bind="columns"
              read-only.bind="options.readOnly"
              item-template="modules/purchasing/purchase-order-external/template/pr-col"
            ></au-collection>      
        </td>
    </tr>
</template>



<!--
<au-autocomplete
              value.bind="data.no"
              error.bind="error.no"
              change.delegate="PRChanged($event)"
              loader.bind="PurchaseRequestPostedLoader"
              key="code"
              read-only.bind="options.readOnly"
              options.bind="controlOptions"
></au-autocomplete>-->
