<template>
  <tr>
      <td>
        <au-textbox 
          value.bind="data.purchaseOrder.purchaseOrderExternal.no" 
          error.bind="error.purchaseOrder.purchaseOrderExternal.no"
          read-only.bind="readOnly">
        </au-textbox>
      </td>
      <td>
        <au-textbox 
          value.bind="data.purchaseOrder.purchaseRequest.no" 
          error.bind="error.purchaseOrder.purchaseRequest.no"
          read-only.bind="readOnly">
        </au-textbox>
      </td>
      <td>
        <au-textbox 
          value.bind="data.product.code" 
          error.bind="error.product.code"
          read-only.bind="readOnly">
        </au-textbox>
      </td>
      <td>
        <au-textbox 
          value.bind="data.quantity" 
          error.bind="error.quantity"
          read-only.bind="readOnly">
        </au-textbox>
      </td>
      <td>
        <au-textbox 
          value.bind="data.uom.unit" 
          error.bind="error.uom.unit"
          read-only.bind="readOnly">
        </au-textbox>
      </td>
      <td>
        <au-textbox 
          value.bind="data.pricePerUnit" 
          error.bind="error.pricePerUnit"
          read-only.bind="readOnly">
        </au-textbox>
      </td>
      <td>
        <au-textbox 
          value.bind="data.priceTotal" 
          error.bind="error.priceTotal"
          read-only.bind="readOnly">
        </au-textbox>
      </td>
  </tr>
</template>
